@model PoliceSystem.Models.Domain.User
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        @Html.ActionLink("Logout", "Logout", "Account", new { @class = "pull-right" })
        <h2>Welcome @Html.LabelForModel(Model.Username)</h2>

        @Html.ActionLink("Cars", "CarOverview", "Car")
    </div>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <div class="dark-image" data-content="Report car as stolen">
                <img src="~/Content/img/stolencar.jpg" alt="StolenCar" />
            </div>
        </a>
    </div>

    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <div class="dark-image" data-content="Track a stolen car">
                <img src="~/Content/img/map.png" alt="Map" />
            </div>
        </a>
    </div>

    @if (User.IsInRole("admin"))
    {
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <div class="dark-image" data-content="Manage users">
                    <img src="~/Content/img/users.png" alt="Users" />
                </div>
            </a>
        </div>
    }
    
</div>





