@model PoliceSystem.Models.Domain.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.LabelForModel("Username: " + Model.Username)
<br/>
@Html.LabelForModel("ID: " + Model.Id)
<br/>
@Html.LabelForModel("Group: " + Model.UserGroup.Name)
<br/>

@Html.ActionLink("Register","Register")

