@model PoliceSystem.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.LabelForModel(Model.Username);
@Html.LabelForModel(Model.Id);
@Html.LabelForModel(Model.UserGroup);


@Html.ActionLink("Register","Register");

